.github/
.idea/
_build
doc
logs
script
release
.dockerignore
.gitignore
docker-compose.yml
Dockerfile
LICENSE
README.md
VERSION
TODO.TXT
rebar.lock
frontend/node_modules
frontend/dist
!config
!priv
!src
!docker
!frontend
/config/prod_db.config.prod
