# ---> Erlang
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
_build
.idea
*.Ds_Store
logs
*db.config
/src/test/
config/prod_db.config.prod
rebar.lock
rebar3.crashdump
