%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}, {i, "apps"}]}.
%% {src_dirs, ["apps/eadm_main/src", "src/controllers"]}.
{project_app_dirs, ["apps/*"]}.

% Should use separate 'test' profile for the config below.
% That needs some adaptation of the build shell scripts.

{extra_src_dirs, ["test"]}.

%% Release profiles
%% To create a release just run
%% rebar3 as prod release
{relx, [{release, {eadm, "0.1.46"},
  [eadm_main, eadm_api, nova, epgsql, poolboy, lager, sasl, inets, observer, runtime_tools]},
  {mode, minimal},
  {extended_start_script, true},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {overlay, [{mkdir, "priv"},
      {copy, "priv/", "priv"}
      ]}
  ]}.

{profiles, [{prod, [{relx, [
    {mode, prod},
    {include_src, false},
    {include_erts, true},
    {debug_info, strip},
    {overlay, [{mkdir, "config"},
        {copy, "docker/db.config", "config/db.config"},
        {copy, "docker/sys.config", "config/sys.config"},
        {copy, "docker/vm.args", "config/vm.args"}
    ]}
    ]}
  ]}
]}.

{shell, [
    {config, "config/dev_sys.config.src"},
    {apps, [eadm_main, eadm_api]}
]}.

{minimum_otp_vsn, "26.2.4"}.

{dialyzer, [
    {warnings, [
        % no_return
    ]}
]}.
