%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{src_dirs, ["src", "src/controllers"]}.

{erlydtl_opts, [{doc_root, "src/views"},
  {recursive, true},
  {libraries, [{nova_erlydtl_inventory, nova_erlydtl_inventory}]},
  {default_libraries, [nova_erlydtl_inventory]}
  ]}.

%% Deps
{deps, [
  {nova, ".*", {git, "https://github.com/novaframework/nova.git", {tag, "v0.10.0"}}},
  %% {mysql_pool, ".*", {git, "https://github.com/silviucpp/mysql_pool.git", {branch, "master"}}},
  {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {branch, "devel"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {ecron, ".*", {git, "https://github.com/zhongwencool/ecron.git", {branch, "master"}}}
  ]}.

%% Plugins for rebar3
{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
  {rebar3_nova, ".*", {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}}
  ]}.

%% Release profiles
%% To create a release just run
%% rebar3 as prod release
{relx, [{release, {eadm, "0.1.37"},
  [eadm, nova, epgsql, poolboy, lager, sasl, inets, observer, runtime_tools]},
  {mode, minimal},
  {extended_start_script, true},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {overlay, [{mkdir, "priv"},
      {copy, "priv/", "priv"}
      ]}
  ]}.

{profiles, [{prod, [{relx, [
    {mode, prod},
    {include_src, false},
    {include_erts, true},
    {debug_info, strip},
    {overlay, [{mkdir, "config"},
        {copy, "docker/db.config", "config/db.config"},
        {copy, "docker/sys.config", "config/sys.config"},
        {copy, "docker/vm.args", "config/vm.args"}
    ]}
    ]}
  ]}
]}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}]}.

{shell, [
    {config, "config/dev_sys.config.src"},
    {apps, [eadm]}
]}.

{minimum_otp_vsn, "26.2.4"}.
