/*------------------------------------------------------------------
* 表格内容自定义样式
* Author: wangcw
* Created: 2024-03-15 15:10:03
* Website: www.wongcw.cn
-------------------------------------------------------------------*/

.dataTables-cloumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

