/*------------------------------------------------------------------
* 百度地图轨迹回放本地样式文件
* Author: wangcw
* Created: 2024-03-07 13:49:53
* Website:
-------------------------------------------------------------------*/

#bmap {
    overflow: visible;
    position: fixed;
    width: 77%;
    height: 72%;
    z-index: 99;
}
