{% extends "base.dtl" %}
{% block css %}
<link href="/assets/vendor/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<link href="../../priv/assets/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="../../priv/assets/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="../../priv/assets/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="../../priv/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../priv/assets/vendor/datatables1/datatables.min.css" rel="stylesheet">
    <link href="../../priv/assets/css/master.css" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <div class="row-2">
                    <label for="datatype">查询类型</label>
                    <select id="datatype" required>
                    <option value="1" selected>步数</option>
                    <option value="2">心率</option>
                    <option value="3">体温</option>
                    <option value="4">血压</option>
                    <option value="5">睡眠</option>
                    <option value="6">电量</option>
                </select>
                </div>
            </div>
            <div class="col-3">
                <div class="row-3">
                    <label for="starttime">开始时间</label>
                    <input id="starttime" type="text">
                </div>
            </div>
            <div class="col-3">
                <div class="row-3">
                    <label for="endtime">结束时间</label>
                    <input id="endtime" type="text">
                </div>
            </div>
            <div class="col-4">
                <div class="row-4 d-flex justify-content-end">
                    <button class="btn btn-outline-success" id="searchHealth">
                        <i class="fa-fw select-all fas"></i> 查询
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
         <table class="table table-hover" id="dataTables-health" width="100%">
            <thead></thead>
            <tbody></tbody>
         </table>
    </div>
</div>

{% endblock %}
{% block js_scripts %}
<script src="/assets/vendor/datatables/datatables.min.js"></script>
<script src="/assets/vendor/datetimepicker/datetimepicker.full.min.js"></script>
<script src="/assets/js/initiate-datatables.js"></script>
<script src="/assets/js/health.js"></script>
{% endblock %}
