[{mysql_pool, [
  {pools, [
    {pool_db, [
        {size, 2},
         {connection_options, [
             {host, "localhost"},
             {user, "root"},
             {port, 3306},
             {password, "123456"},
             {database, "testdb"},
             {keep_alive, true},
             {connect_timeout, 18000}
         ]}
       ]}
   ]}
]},
{epgsql, [
    {pools, [
        {pool_pg, [
                {size, 10},           %% 初始连接数：10个连接
                {max_overflow, 10},   %% 最大溢出连接数：10个
                {strategy, fifo}      %% FIFO策略：先进先出
            ],
            [   {host, "postgres"},
                {port, 5432},
                {database, "eadm"},
                {username, "user_eadm"},
                {password, "iyS62bvt"},
                {timeout, 10000}      %% 查询超时时间：10秒
            ]}
        ]}
    ]
},
{emqx, [
        {emqx, #{
            host => "localhost",
            port => 1883,
            username => "your_emqx_username",
            password => "your_emqx_password"
        }}
]}
].
