%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-

{erlydtl_opts, [{doc_root, "src/views"},
  {recursive, true},
  {libraries, [{nova_erlydtl_inventory, nova_erlydtl_inventory}]},
  {default_libraries, [nova_erlydtl_inventory]}
  ]}.

%% Deps
{deps, [
  {nova, ".*", {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
  %% {mysql_pool, ".*", {git, "https://github.com/silviucpp/mysql_pool.git", {branch, "master"}}},
  {epgsql, ".*", {git, "https://github.com/epgsql/epgsql.git", {branch, "devel"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
  {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
  {ecron, ".*", {git, "https://github.com/zhongwencool/ecron.git", {branch, "master"}}}
  ]}.

%% Plugins for rebar3
{plugins, [
  {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
  {rebar3_nova, ".*", {git, "https://github.com/novaframework/rebar3_nova.git", {branch, "master"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}}]}]}.
